/*document main styles*/
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


/*navbar*/
nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/*slide show jumbotron section*/
.jumbotron.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
  color: white;
  padding: 11.85rem 0;
}
.jumbotron .content-wrapper {
  width: 51.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbotron h1 {
  font-family: Monoton;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
  font-size: 7.1rem;
}
.jumbotron p {
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}
.jumbotron .container-fluid {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.btn-primary {
  cursor: pointer;
  width: 11.4rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/*featured project*/
