/*document main styles*/
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
img {
  width: 100%;
  opacity: 0.7;
  transition: all 300ms linear;
}
img:hover {
  opacity: 1.0;
  transform: scale(1.3);
}
h2 {
  font-size: 1.7rem;
  font-weight: bold;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.container-fluid p {
  margin-top: 10px;
}
.image-container {
  overflow: hidden;
}

/*navbar*/
nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

/*slide show jumbotron section*/
.jumbotron.jumbotron-bike,
.jumbotron.jumbotron-beer,
.jumbotron.jumbotron-flowers,
.jumbotron.jumbotron-duffel {
  color: white;
  padding: 11.85rem 0;
  background-position: center;
  background-origin: content-box;
}
.jumbotron.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
}
.jumbotron.jumbotron-beer {
  background-image: url('../images/jumbotron-beer.jpg');
}
.jumbotron.jumbotron-flowers {
  background-image: url('../images/jumbotron-flowers.jpg');
}
.jumbotron.jumbotron-duffel {
  background-image: url('../images/jumbotron-duffel.jpg');
}
.jumbotron .content-wrapper {
  /*width: 51.3rem;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbotron h1 {
  font-family: Monoton;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
  font-size: 7.1rem;
}
.jumbotron p {
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}
.jumbotron .container-fluid {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.btn-primary {
  cursor: pointer;
  width: 11.4rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #399bd1;
  text-align: center;
}
.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 512px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

/*featured project*/
.featured-project .image-container {
  margin-top: 20px;
}
.featured-project h2 {
  margin-bottom: 0;
  color: #399bd1;
}
.product-categories h3 {
  color: #399bd1;
}
.product-categories ul {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/*projects*/
.projects h2 {
  color: #399bd1;
}
.projects {
  margin-bottom: 5.85rem;
}

@media only screen and (max-width: 1000px) {
  .projects {
    margin-bottom: 0;
  }
  .project {
    margin-bottom: 5.85rem;
  }
}

/*having trouble footer */
.having-trouble .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 42rem;
  margin: auto;
  text-align: center;
}
.having-trouble {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
}
.having-trouble strong {
  font-size: 2.5rem;
  font-weight: bold;
}
.having-trouble p {
  margin: 1.4rem 0;
}
